{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load urlify %}
{% block title %}Comment Thread{% endblock %}

{% block content %}

<div class="col-sm-8 col-sm-offset-3">

    <h1>Comment Thread</h1>
    <hr>

    {{ comment.content }}
    <footer>via {{comment.user }} | {{ comment.timestamp|timesince }} ago
        {% if comment.children.count > 0 %}
            | {{ comment.children.count }}
            repl{{comment.children.count|pluralize:'y,ies'}}
        {% endif %}
        {% if request.user == comment.user %}
            | <a href="{{ comment.delete_url }}">Delete</a>
        {% endif %}
    </footer>
    <div>
        <hr>
        {% for reply in comment.children %}
        <blockquote>
            {{ reply.content }}
            <footer>via {{ reply.user }} | {{ reply.timestamp|timesince }} ago
                {% if request.user == comment.user %}
                    | <a href="{{ reply.delete_url }}">Delete</a>
                {% endif %}
            </footer>
        </blockquote>
        {% endfor %}

        <form action="." method="post">
            {{ form|crispy }}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <button type="submit" class="btn btn-default">Reply</button>
            {% csrf_token %}
        </form>
    </div>
    <hr>

</div>

{% endblock %}