<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>{% block title %}Try Django 1.9{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}">

    <style>
        {% block style %}{% endblock %}
    </style>

{% block head_extra %}{% endblock %}
</head>
<body>
<div class="container">
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1568773046695203";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include 'posts/messages.html' %}

{% block content %}
{% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

<script>
$(document).ready(function() {
    $('.content-markdown').each(function() {
        var content = $(this).text();
        var markedContent = marked(content);
        $(this).html(markedContent)
    });
})
</script>
</body>
</html>
