{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% load urlify %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="col-sm-8 col-sm-offset-3">
    <h1>{{ post.title}}{%if post.draft %}&nbsp;
        <small><span style="color: red;">(draft)</span></small>{% endif %}</h1>
    <span class="post-detail-item">{{ post.markdown }}</span><br>
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-responsive">
    {% endif %}
    <br>
        {% if post.user.get_full_name %}
            <strong>Author: {{ post.user.get_full_name }}</strong> <br>
                {% else %}
            <strong>Author: {{post.user|capfirst}}</strong> <br>
        {% endif %}
        <p>Originally posted: {{post.publish}}<br>
        Last edited: {{post.updated|timesince}} ago</p>
    <div class="fb-like"></div>
    <hr>
    <p><a href="{% url 'posts:edit' post.id %}" class="btn btn-primary" role="button">Edit</a>
       <a href="{% url 'posts:delete' post.id %}" class="btn btn-primary" role="button">Delete</a>
       <a href="{% url 'posts:list' %}" class="btn btn-default" role="button">Back</a>
    </p>
    <br>
    <div>
        <p class="lead">Comments</p>
        <form action="." method="post">
            {{ comment_form|crispy }}
            <button type="submit" class="btn btn-default">Post Comment</button>
            {% csrf_token %}
        </form>
        <hr>
        {% for comment in post.comments %}
            <blockquote>
                {{ comment.content }}
                <footer>via {{comment.user }} | {{ comment.timestamp|timesince }} ago
                {% if comment.children.count > 0 %}
                    | {{ comment.children.count }}
                    repl{{comment.children.count|pluralize:'y,ies'}}
                {% endif %}
                    | <a class="comment-reply-btn" href="#"> Reply </a>
                    | <a class="" href="{{ comment.thread_url}}"> Thread </a>
                </footer>
                <div class="comment-reply">
                    <hr>
                    {% for reply in comment.children %}
                    <blockquote>
                        {{ reply.content }}
                        <footer>via {{ reply.user }} | {{ reply.timestamp|timesince }} ago</footer>
                    </blockquote>
                    {% endfor %}

                    <form action="." method="post">
                        {{ comment_form|crispy }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <button type="submit" class="btn btn-default">Reply</button>
                        {% csrf_token %}
                    </form>
                </div>
            </blockquote>
            <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}