{% extends 'posts/base.html' %}
{% load urlify %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
    <h1>{{ post.title}}</h1>
    <div>{{ post.content|linebreaks }}</div><br>
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-responsive">
    {% endif %}
    {% if post.user.get_full_name %}
        <strong>Author: {{ post.user.get_full_name }}</strong> <br>
            {% else %}
        <strong>Author: {{post.user|capfirst}}</strong> <br>
    {% endif %}
    <p>Originally posted: {{post.timestamp|timesince}} ago<br>
    Last edited: {{post.updated|timesince}} ago</p>
    <div class="fb-like"></div>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"></div>
        </div>

    </div>

</div>

{% endblock %}