{% extends 'posts/base.html' %}
{% block content %}

<div class="col-sm-12">
    <h1>Post List</h1>
    <form action="" method="GET" class="row">
        <div class="col-sm-8">
            <div class="input-group">
                <input class="form-control" type="text" name="q"
                       value="{{ request.GET.q }}" placeholder="Search posts">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" >
                        <span style="color: green;" class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </form>
    <br>
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="img-responsive">
                {% endif %}
                <div class="caption">
                    <a href="{% url 'posts:detail' post.id %}">
                        <h1>{{ post.title }}</h1></a>

                    <small>
                        {% if post.user.get_full_name %}
                        by {{ post.user.get_full_name }} on
                        {% endif %}
                        {% if post.publish > today %}
                            <span style="color: green; font-weight: bold;">*{{ post.publish }}*</span>
                        {% else %}
                            {{ post.publish }}
                        {% endif %}
                    </small>
                    {% if post.draft %}
                        <span style="color: red; font-weight: bold;"> Draft</span>
                    {% endif %}
                    <p><strong>Read Time:</strong>
                        < {{ post.read_time }} minute{{post.read_time|pluralize}}
                    </p>
                    <span class="post-detail-item">{{ post.markdown|truncatewords_html:12 }}</span><br>
                    <p><a href="{% url 'posts:detail' post.id %}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>

        {% endfor %}

        <a href="{% url 'posts:create' %}" class="btn btn-default" role="button">New Post</a>
        <hr>
        <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
        </div>
    </div>
</div>

{% endblock content %}