{% extends 'posts/base.html' %}
{% block content %}

<div class="col-sm-12">
    <h1>Post List</h1>
    <form action="" method="GET">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search posts">
        <button type="submit">Go</button>
    </form>
    <hr>
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-12">
            <div class="thumbnail">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="img-responsive">
                {% endif %}
                <div class="caption">
                    <p><a href="{% url 'posts:detail' post.id %}">
                        <strong>{{ post.title }}</strong></a>
                    {% if post.publish > today %}
                        <span style="color: green; font-weight: bold;">*{{ post.publish }}*</span>
                    {% else %}
                        {{ post.publish }}
                    {% endif %}
                    {% if post.draft %}
                        <span style="color: red; font-weight: bold;"> Draft</span>
                        {% endif %}</p>
                    <span class="post-detail-item">{{ post.markdown }}</span><br>
                    {% if post.user.get_full_name %}
                        Author: {{ post.user.get_full_name }}<br>
                    {% endif %}
                    <p><a href="{% url 'posts:edit' post.id %}" class="btn btn-primary" role="button">Edit</a>
                        <a href="{% url 'posts:delete' post.id %}" class="btn btn-default" role="button">Delete</a></p>
                </div>
            </div>
        </div>

        {% endfor %}

        <a href="{% url 'posts:create' %}" class="btn btn-default" role="button">New Post</a>
        <hr>
        <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
        </div>
    </div>
</div>

{% endblock content %}